<launch>
  <arg name="ns"    default="create1"                 doc="Namespace of the robot"/>
  <arg name="laser" default="$(optenv LASER rplidar)" doc="Laser for mapping the environment"/>

  <node pkg="iris_lama_ros" type="loc2d_ros" name="lama" output="screen">
    <rosparam file="$(find ca_move_base)/config/lama_params.yaml" command="load"/>
    <!-- We want a single map for multi-robots -->
    <remap from="map" to="/map" />

    <param name="odom_frame_id" value="$(arg ns)/odom"/>
    <param name="base_frame_id" value="$(arg ns)/base_footprint"/>
    <param name="global_frame_id" value="map"/>
    <param name="scan_topic" value="$(arg laser)/scan"/>
  </node>

</launch>
