<launch>
  <arg name="ns"    default="create1"                 doc="Namespace of the robot"/>
  <arg name="laser" default="$(optenv LASER rplidar)" doc="Laser for mapping the environment"/>

  <arg name="global_planner" value="$(optenv GLOBAL_PLANNER gbp)"/>
  <arg name="local_planner"  value="$(optenv LOCAL_PLANNER teb)"/>

  <arg name="robot_frame" value="$(arg ns)/base_footprint"/>
  <arg name="odom_frame"  value="$(arg ns)/odom"/>
  <arg name="laser_frame" value="$(arg ns)/laser_link"/>

  <arg name="laser_topic"   value="$(arg laser)/scan"/>
  <arg name="odom_topic"    value="odom_combined"/>
  <arg name="cmd_vel_topic" value="cmd_vel/nav"/>

  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen">

    <!-- Load move base params, since mbf requires the same ones -->
    <rosparam file="$(find ca_move_base)/config/move_base_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ca_move_base)/config/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/$(arg global_planner)_global_planner_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ca_move_base)/config/local_costmap_params.yaml" command="load" />

    <rosparam file="$(find ca_move_base)/config/$(arg local_planner)_local_planner_params.yaml" command="load" />

    <remap from="map"        to="/map"/>
    <remap from="laser/scan" to="$(arg laser_topic)"/>
    <remap from="odom"       to="$(arg odom_topic)"/>
    <remap from="cmd_vel"    to="$(arg cmd_vel_topic)"/>
    <!-- <remap from="/mobile_base/sensors/bumper_pointcloud"
           to="mobile_base/sensors/bumper_pointcloud"/> -->

    <!-- Remap frames for specific robots -->
    <param name="local_costmap/robot_base_frame" value="$(arg robot_frame)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
    <param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg laser_frame)"/>
    <param name="local_costmap/obstacle_layer/scan/topic"  value="$(arg laser_topic)"/>

    <param name="robot_frame" value="$(arg robot_frame)"/>

    <param name="global_costmap/robot_base_frame" value="$(arg robot_frame)"/>
    <param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg laser_frame)"/>
    <param name="global_costmap/obstacle_layer/scan/topic" value="$(arg laser_topic)"/>

    <param name="tf_timeout" value="1.5"/>

    <param name="SBPLLatticePlanner/primitive_filename" value="$(find ca_move_base)/config/matlab/turtle.mprim" />
    <param name="DWAPlannerROS/global_frame_id"  value="$(arg odom_frame)"/>
  </node>

  <node pkg="mbf_costmap_nav" type="move_base_legacy_relay.py" name="move_base_adapter" output="screen">
    <rosparam file="$(find ca_move_base)/config/move_base_params.yaml" command="load" />
  </node>

</launch>
