<launch>
  <arg name="ns"    default="create1"                 doc="Namespace of the robot"/>
  <arg name="laser" default="$(optenv LASER rplidar)" doc="Laser for mapping the environment"/>
  <arg name="freq"  value="40"                        doc="Broadcasting frequency of robot_description parameter"/>

  <!-- Octomap server -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <rosparam file="$(find ca_move_base)/config/octomap_params.yaml" command="load"/>

    <!-- The robot's base frame in which ground plane detection is performed (if enabled) -->
    <param name="base_frame_id" value="$(arg ns)/base_footprint"/>

    <!-- data source to integrate (PointCloud2) -->
    <remap from="cloud_in"      to="$(arg laser)/depth_registered/points"/>
    <remap from="projected_map" to="/map"/>
  </node>

  <!-- Static transform is needed for map -->
  <node pkg="tf" type="static_transform_publisher" name="map_static_tf"
        args="0 0 0 0 0 0 /map $(arg ns)/odom $(arg freq)"/>
</launch>
