<launch>
  <arg name="start_x" default="0"/>
  <arg name="start_y" default="0"/>
  <arg name="plot" value="$(optenv PLOT false)"/>
  <arg name="polygon_path" value="$(env POLYGON_PATH)"/>
  <node pkg="visibility_server" type="visibility_server_node.py" name="visibility_server" output="screen">
      <param name="/use_sim_time" value="true"/>
      <param name="start_x" value="$(arg start_x)"/>
      <param name="start_y" value="$(arg start_y)"/>
      <param name="polygon_path" value="$(arg polygon_path)"/>
      <param name="plot" value="$(arg plot)"/>
  </node>

  <node pkg="visibility_server" type="robot_position_2d.py" name="robot_position">
      <param name="/use_sim_time" value="true"/>
  </node>
  <node pkg="visibility_server" type="sentinel.py" name="sentinel" required="true"/>

</launch>