<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find ca_description)/urdf/sensors/lasers/calibration.xacro"/>
<xacro:include filename="$(find ca_description)/urdf/sensors/lasers/sim_3d_sensor.xacro"/>

<!-- Orbbec Astra RGBD Camera -->
<!-- https://github.com/orbbec/ros_astra_launch/blob/master/launch/includes/astra_frames.launch -->
<xacro:property name="name" value="astra"/>
<xacro:property name="parent" value="base_link"/>

<xacro:property name="parent_link"        value="${parent}"/>
<xacro:property name="link_name"          value="${name}_link"/>
<xacro:property name="link_rgb"           value="${name}_rgb_frame"/>
<xacro:property name="link_rgb_optical"   value="${name}_rgb_optical_frame"/>
<xacro:property name="link_depth"         value="${name}_depth_frame"/>
<xacro:property name="link_depth_optical" value="${name}_depth_optical_frame"/>

<joint name="${name}_joint" type="fixed">
  <origin xyz="${laser_origin}"/>
  <parent link="${parent_link}"/>
  <child link="${link_name}"/>
</joint>

<link name="${link_name}">
  <visual>
    <origin xyz="-0.01 0 -0.03" rpy="${pi/2} 0 ${pi/2}"/>
    <geometry>
      <mesh filename="package://ca_description/meshes/sensors/astra.dae"/>
    </geometry>
  </visual>
</link>

<joint name="${name}_rgb_joint" type="fixed">
  <origin xyz="0 -0.045 0"/>
  <parent link="${link_name}"/>
  <child link="${link_rgb}"/>
</joint>
<link name="${link_rgb}"/>

<joint name="${name}_rgb_optical_joint" type="fixed">
  <xacro:origin_calibrated camera="${name}" type="rgb"/>
  <parent link="${link_rgb}"/>
  <child link="${link_rgb_optical}"/>
</joint>
<link name="${link_rgb_optical}"/>

<joint name="${name}_depth_joint" type="fixed">
  <origin xyz="0 -0.02 0"/>
  <parent link="${link_name}"/>
  <child link="${link_depth}"/>
</joint>
<link name="${link_depth}"/>

  <joint name="${name}_depth_optical_joint" type="fixed">
  <xacro:origin_calibrated camera="${name}" type="depth"/>
  <parent link="${link_depth}"/>
  <child link="${link_depth_optical}"/>
</joint>
<link name="${link_depth_optical}"/>

<xacro:sim_3d_sensor name="${name}" color="Gazebo/FlatBlack"/>

</robot>
