<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find ca_description)/urdf/sensors/lasers/calibration.xacro"/>
<xacro:include filename="$(find ca_description)/urdf/sensors/lasers/sim_3d_sensor.xacro"/>
<xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>

<!-- Intel Realsense D435 -->
<xacro:property name="name"   value="d435"/>
<xacro:property name="parent" value="base_link"/>

<xacro:sensor_d435 name="${name}" parent="${parent}" use_nominal_extrinsics="true">
  <origin xyz="${laser_origin}"/>
</xacro:sensor_d435>

<xacro:sim_3d_sensor name="${name}" color="Gazebo/FlatBlack"/>

</robot>
