<launch>
  <node pkg="ca_swarm" type="swarm_controller_node" name="swarm_controller_node" output="screen">
    <rosparam param="swarm_robots">[create1, create2]</rosparam>
    <param name="body_frame" value="unit_box"/>
  </node>

  <include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="env" value="two_rooms"/>

    <arg name="pose1_x" value="$(optenv X1 5.74)"/>
    <arg name="pose1_y" value="$(optenv Y1 0.96)"/>
    <arg name="pose1_Y" value="$(optenv A1 0)"/>

    <arg name="pose2_x" value="$(optenv X2 5.74)"/>
    <arg name="pose2_y" value="$(optenv Y2 0.27)"/>
    <arg name="pose2_Y" value="$(optenv A2 0)"/>
  </include>

  <include file="$(find ca_swarm)/launch/navigate.launch" />
</launch>
