<!-- https://github.com/tu-darmstadt-ros-pkg/hector_nist_arenas_gazebo -->
<launch>
  <!-- Variable for CI testing -->
  <arg name="gui" default="$(optenv GUI true)" doc="Start gzclient (Gazebo's GUI)"/>

  <include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="env" value="maze"/>

    <arg name="pose1_x" value="5"/>
    <arg name="pose1_y" value="5"/>
    <arg name="pose1_Y" value="1.5708"/>

    <arg name="pose2_x" value="3.5"/>
    <arg name="pose2_y" value="-1.25"/>
    <arg name="pose2_Y" value="0"/>
	</include>
</launch>
