<launch>
  <param name="create1/amcl/initial_pose_x" value="-1"/>
  <param name="create1/amcl/initial_pose_y" value="1"/>
  <param name="create1/amcl/initial_pose_a" value="0"/>

  <param name="create2/amcl/initial_pose_x" value="1"/>
  <param name="create2/amcl/initial_pose_y" value="-1"/>
  <param name="create2/amcl/initial_pose_a" value="1.5708"/>

  <include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="env" value="tunnel_qual"/>
  </include>
</launch>
