<launch>
	<include file="$(find ca_gazebo)/launch/create_empty_world.launch">
    <arg name="env" value="warehouse"/>

    <arg name="pose1_x" value="-6"/>
    <arg name="pose1_y" value="2"/>
    <arg name="pose1_Y" value="0"/>

    <arg name="pose2_x" value="30"/>
    <arg name="pose2_y" value="2"/>
    <arg name="pose2_Y" value="-1.5708"/>
	</include>
</launch>
