<launch>
  <arg name="ns"    default="create1"                 doc="Namespace of the robot"/>
  <arg name="laser" default="$(optenv LASER rplidar)" doc="Laser for mapping the environment"/>

  <group if="$(eval arg('laser')!='rplidar')">
    <!-- push depthimage_to_laserscan nodelet into sensor's nodelet manager-->
    <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
          output="screen" ns="$(arg laser)"
          args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet nodelet_manager">
      <remap from="image" to="depth/image_raw"/>
      <remap from="camera_info" to="depth/camera_info"/>
      <remap from="scan"        to="scan"/>
      <rosparam file="$(find ca_slam)/config/depthimage_to_laserscan.yaml" command="load"/>
      <param name="output_frame_id" type="string" value="$(arg ns)/$(arg laser)_link"/>
    </node>
  </group>
</launch>
