<?xml version="1.0" ?>
<robot name="create_2" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ca_description)/urdf/create_base.xacro"/>
  <xacro:include filename="$(find ca_description)/urdf/utils/materials.xacro"/>

  <xacro:property name="robot_name" value="$(arg robot_name)"/>

  <xacro:property name="wheel_separation" value="0.235"/>
  <xacro:property name="base_diameter" value="0.32"/>
  <xacro:property name="wheel_width" value="0.024"/>
  <xacro:property name="wheel_radius" value="0.036"/>

  <xacro:create_base wheel_separation="${wheel_separation}"
                     base_diameter="${base_diameter}"
                     wheel_width="${wheel_width}"
                     wheel_radius="${wheel_radius}">
    <mesh filename="package://ca_description/meshes/create_2.dae" />
  </xacro:create_base>

  <!-- Stacks -->
  <xacro:property name="stack" value="$(arg stack)"/>
  <xacro:property name="stack_yaml" value="$(find ca_description)/urdf/stacks/poses.yaml"/>
  <xacro:property name="stack_dict" value="${load_yaml(stack_yaml)}"/>
  <xacro:property name="stack_origin" value="${stack_dict[stack]}"/>
  <xacro:include filename="$(find ca_description)/urdf/stacks/${stack}.xacro"/>
</robot>
