<?xml version="1.0"?>
<launch>
  <arg name="ns" default="create1" doc="Namespace of the robot"/>

  <node name="ca_driver" pkg="ca_driver" type="ca_driver" output="screen" required="true">
    <rosparam command="load" file="$(find ca_driver)/config/default.yaml"/>
    <param name="namespace"  value="$(arg ns)"/>
    <param name="tf_prefix"  value="$(arg ns)"/>
    <remap from="$(arg ns)/cmd_vel" to="$(arg ns)/cmd_vel/out"/>
  </node>
</launch>
