<launch>
  <arg name="ns"/>

  <node pkg="move_base" type="move_base" respawn="false" name="collaborative_move_base" output="screen">
    <rosparam file="$(find ca_swarm)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ca_swarm)/config/global_costmap_params.yaml" command="load" />
    <!-- <rosparam file="$(find ca_swarm)/config/global_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find ca_swarm)/config/navfn_global_planner_params.yaml" command="load" />

    <rosparam file="$(find ca_swarm)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ca_swarm)/config/local_costmap_params.yaml" command="load" />
    <!-- <rosparam file="$(find ca_swarm)/config/base_local_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find ca_swarm)/config/dwa_local_planner_params.yaml" command="load" />

    <rosparam file="$(find ca_swarm)/config/move_base_params.yaml" command="load" />

    <!-- We want a single map for multi-robots -->
    <remap from="map" to="/map"/>
    <remap from="/laser/scan" to="laser/scan"/>
    <remap from="/mobile_base/sensors/bumper_pointcloud"
           to="mobile_base/sensors/bumper_pointcloud"/>
    <remap from="/odom" to="/unit_box/odom"/>
  </node>

</launch>
