<?xml version="1.0"?>
<launch>
  <arg name="ns" default="create1" doc="Namespace of the robot"/>

  <arg name="visualize" default="$(optenv VISUALIZE false)" doc="Flag to visualize rays in Gazebo"/>
  <arg name="enable_ros_control" default="$(optenv ROS_CONTROL False)" doc="Flag to use ros_control Gazebo plugin"/>

  <!-- Stacks:
    * turtlebot
    * roomblock
   -->
  <arg name="stack" value="$(optenv STACK turtlebot)" doc="Stack used by the robot. Options are: turtlebot or roomblock"/>
  <!-- Lasers:
    * astra
    * kinect
    * r200
    * rplidar
    * xtion_pro
   -->
  <arg name="laser" default="$(optenv LASER rplidar)" doc="Laser for mapping the environment"/>

  <arg name="freq" value="40"/>

  <!-- Robot description -->
  <arg name="model" value="$(find ca_description)/urdf/create_2.xacro"/>

  <arg name="xacro_args" value="visualize:=$(arg visualize)
                                robot_name:=$(arg ns)
                                stack:=$(arg stack)
                                laser:=$(arg laser)
                                enable_ros_control:=$(arg enable_ros_control)
                                add_plug:=false"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model) $(arg xacro_args)"/>

  <!-- Robot state publisher-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="use_tf_static"     value="true" />
    <param name="publish_frequency" type="double" value="$(arg freq)" />
    <param name="tf_prefix"         value="$(arg ns)" />
  </node>
  <!-- Static transform for bumper_link to base_link -->
  <node pkg="tf" type="static_transform_publisher" name="bumper_static_tf"
        args="0 0 0 0 0 0 $(arg ns)/base_link $(arg ns)/bumper_link $(arg freq)"/>
</launch>
