<launch>
  <arg name="ns" default="create1" doc="Namespace of the robot"/>

  <group ns="$(arg ns)">
    <!-- Load robot's hw interface -->
    <node name="create_hw_interface" pkg="ca_control" type="ca_control_node" output="screen">
      <rosparam command="load" file="$(find ca_driver)/config/default.yaml"/>
      <param name="rate" value="30"/>
    </node>

    <!-- Ros control -->
    <include file="$(find ca_control)/launch/control_common.launch">
      <arg name="ns" value="$(arg ns)"/>
    </include>
  </group>
</launch>
