<launch>
  <arg name="id" default="$(optenv ID 1)"  doc="Unique identifier of the robot [1-Inf.)"/>
  <arg name="ns" default="create$(arg id)" doc="Namespace of the robot. By default: create1."/>

  <node pkg="explore_lite" type="explore" name="explore"
        output="screen" respawn="false" ns="$(arg ns)">
    <rosparam command="load" file="$(find ca_mapping_exploration)/config/explore_lite.yaml"/>
    <param name="robot_base_frame" value="$(arg ns)/base_footprint"/>
  </node>
</launch>
