<launch>
  <arg name="id" default="$(optenv ID 1)"  doc="Unique identifier of the robot [1-Inf.)"/>
  <arg name="ns" default="create$(arg id)" doc="Namespace of the robot. By default: create1."/>
  <arg name="use_visibility" value="$(env VISIBILITY)" doc="Use visibility or not (UTN or maryland, respectively"/>



  <node pkg="blueprint_explore" type="explore" name="explore"
        output="screen" respawn="false" ns="$(arg ns)">
    <rosparam command="load" file="$(find ca_mapping_exploration)/config/explore_lite.yaml"/>
    <param name="robot_base_frame" value="$(arg ns)/base_footprint"/>
    <param name="use_visibility" value="$(arg use_visibility)"/>
  </node>
</launch>
