<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--
    Colors were taken from here:

    http://www.flatuicolorpicker.com/grey-rgba-color-model/
   -->

  <material name="chambray">
    <color rgba="${58/255} ${83/255} ${155/255} 1.0"/>
  </material>

  <material name="lynch">
    <color rgba="${108/255} ${122/255} ${137/255} 1.0"/>
  </material>

  <material name="silver">
    <color rgba="${191/255} ${191/255} ${191/255} 1.0"/>
  </material>

  <material name="white_smoke">
    <color rgba="${236/255} ${236/255} ${236/255} 1.0"/>
  </material>

</robot>