<?xml version="1.0"?>

<!-- Launchfile to save the map generated with Hector SLAM in Tiff format
as well as the robot's trajectory. This is extracted and adapted from
https://github.com/tu-darmstadt-ros-pkg/hector_slam/blob/melodic-devel/hector_geotiff/launch/geotiff_mapper.launch
-->

<launch>

  <arg name="map_file_base_name" doc="The base name given to the generated geotiff file"/>

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
    <rosparam file="$(find ca_hector)/config/hector_trajectory_server.yaml" command="load"/>
  </node>

  <node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen" launch-prefix="nice -n 15">
    <rosparam file="$(find ca_hector)/config/hector_geotiff.yaml" command="load"/>
    <!-- Path where the geotiff file will be stored -->
    <param name="map_file_path" value="$(find ca_hector)/maps"/>
    <param name="map_file_base_name" value="$(arg map_file_base_name)"/>

    <remap from="map" to="dynamic_map" />
  </node>

</launch>
